/* Created by Matthew Russell */
#i0{visibility: visible; }
#i1{visibility: visible; }
#i2{visibility: visible; }
#i3{visibility: visible; }
#i4{visibility: visible; }
#i5{visibility: visible; }
#i6{visibility: visible; }
#i7{visibility: visible; }
#i8{visibility: visible; }
#i9{visibility: visible; }
#i10{visibility: visible; }
#i11{visibility: visible; }
#m{background-color: deepskyblue;
    background-position: center;
    background-size: contain;
    width: 1%;
    background-repeat: no-repeat;
    
}
.match{
    width: 1%;
    
    }