 /* Created By Matthew Russell*/
 .TTT{
    text-align: center;
    font-size: 30px;}

.blue{
    color: blue;
    background-color: blue;
    width: 10%;
    border: 1px solid black;
}
.red{
    color: red;
    background-color: red;
    width: 10%;
    border: 1px solid black;
}